@font-face {
  font-family: Virgil;
  src: url('./Virgil.woff2');
}

body {
  margin: 0;
  font-family: Virgil;
}

#root {
  display: flex;
  flex-direction: row;
  min-height: 100vh;
  background-color: white;
}

main {
  flex-grow: 1;
  padding: 1rem;
}

aside {
  padding: 1rem;
  background-color: #d6001c;
  border-left: 10px solid #00873e;
  width: 25%;
}

.trainings {
  font-size: 3rem;
  line-height: 3rem;
  font-weight: bold;
  color: #d6001c;
  text-shadow: #00873e 0.2rem 0.3rem;
}

.moneys {
  font-size: 2rem;
}

.clicker-wrapper {
  margin-top: 5rem;
  margin-bottom: 5rem;
  text-align: center;
  width: 100%;
  background: none;
  border: none;
  cursor: pointer;
  user-select: none;
}

.clicker {
  margin: auto;
  width: 40%;
  transition: 0.3s ease-in-out;
}

.clicker:hover {
  width: 42%;
}

.upgrade-capsule {
  border: none;
  cursor: pointer;
  position: relative;
  padding: 0.5rem;
  border: 2px solid white;
  box-shadow: #00873e 3px 3px;
  color: white;
  display: grid;
  grid-template-columns: 50px auto 50px;
  align-items: center;
  gap: 5px;
  margin-bottom: 5px;
  user-select: none;
}

.upgrade-capsule__icon {
  text-align: center;
}

.upgrade-capsule__body {
  text-align: left;
}

.upgrade-capsule__amount {
  text-align: right;
}
