body {
  margin: 0;
  font-family: 'Ubuntu', sans-serif;
  --color-red: #aa3a3a;
  --color-green: #a4b787;
  --color-dark-green: #5f6f52;
  --color-white: #f4f4f4;
  --color-beige: #fcf5ed;
  --color-brown: #352e24;
}

.app {
  flex: 1;
  display: flex;
  flex-direction: row;
  background-color: var(--color-beige);
  overflow: hidden;
  flex-basis: 0;
}

.app--wrapper{
  display: flex;
  flex-direction: column;
  flex: 1;  
}

.page{
  height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

aside {
  background-color: var(--color-red);
  border-left: 15px solid var(--color-green);
  width: 30%;
  overflow-y: scroll;
}

aside::-webkit-scrollbar {
  width: 15px;
  background-color: var(--color-green);
}
aside::-webkit-scrollbar-thumb {
  background-color: var(--color-red);
  border-radius: 9999px;
}

aside h1 {
  background-color: var(--color-green);
  width: 100%;
  padding: 1rem;
  text-align: center;
  font-family: 'Pacifico', sans-serif;
  color: var(--color-beige);
  text-shadow: var(--color-dark-green) 0.1rem 0.1rem;
  font-size: 2.5rem;
  font-weight: 100;
}

.title {
  font-family: 'Pacifico', sans-serif;
  padding: 1rem;
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
  font-size: 5rem;
  color: var(--color-red);
  text-shadow: var(--color-dark-green) 0.25rem 0.25rem;
}

.trainings {
  padding: 0 1rem;
  font-family: 'Pacifico', sans-serif;
  font-size: 3rem;
  line-height: 3rem;
  font-weight: 300;
  color: var(--color-red);
  width: 100%;
}

.moneys {
  padding: 0 1rem;
  font-size: 2rem;
  color: var(--color-dark-green);
  width: 100%;
}

.clicker-wrapper {
  user-select: none;
  border: 5px solid var(--color-red);
  border-radius: 99999px;
  height: 400px;
  cursor: pointer;
  transition: 0.3s ease-in-out;
  overflow: hidden;
  background-color: #a4b787;
  animation: pulse 2s infinite;
  aspect-ratio: 1;
}

.train-animation {
  animation: pulse 0.5s;
}

.clicker {
  margin: auto;
}

.clicker-tips {
  font-family: 'Pacifico', sans-serif;
  font-size: 1rem;
  line-height: 5rem;
  font-weight: 300;
  color: var(--color-dark-green);
}

.upgrade-category {
  padding: 1rem;
  font-family: 'Pacifico', sans-serif;
  user-select: none;
  font-size: 2rem;
  color: white;
  text-shadow: var(--color-dark-green) 0.1rem 0.1rem;
  cursor: pointer;
  transition: cubic-bezier(0.18, 0.89, 0.32, 1.28) 0.5s;

  &:hover {
    text-shadow: var(--color-dark-green) 0.2rem 0.3rem;
  }
}

.upgrade-capsule {
  margin: 1rem;

  cursor: pointer;
  position: relative;
  padding: 0.5rem;
  border: 2px solid var(--color-green);
  box-shadow: var(--color-dark-green) 3px 3px;
  color: white;
  display: grid;
  grid-template-columns: 50px auto 100px;
  align-items: center;
  gap: 5px;
  margin-bottom: 10px;
  user-select: none;
}

.upgrade-capsule__name {
  font-size: 1.5rem;
  font-family: 'Pacifico', sans-serif;
}

.upgrade-capsule__icon {
  text-align: center;
}

.upgrade-capsule__body {
  text-align: left;
}

.upgrade-capsule__amount {
  text-align: right;
}

.upgrade-capsule--tips {
  width: 100%;
  color: white;
  padding: 1rem;
  text-align: center;
  animation: 2s fade infinite ease-in-out;
}

@keyframes fade {
  10% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }
  90% {
    opacity: 1;
  }
}

.debug {
  display: none;
  font-family: sans-serif;
  background-color: white;
  color: black;
  font-size: 1rem;
}

.material-symbols-outlined {
  font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24;
}

.arrow-open {
  transform: rotate(180deg);
  transition: cubic-bezier(0.18, 0.89, 0.32, 1.28) 0.5s;
}

.arrow-close {
  transform: rotate(0deg);
  transition: cubic-bezier(0.18, 0.89, 0.32, 1.28) 0.5s;
}

.achievement {
  background-color: var(--color-green);
  border: 2px solid var(--color-dark-green);
  padding: 1rem;
  color: var(--color-brown);
  display: flex;
  flex-direction: row;
  font-size: 1rem;
  margin: 1rem;
  width: 500px;
  position: absolute;
  bottom: 15px;
  animation: slide-achievement 0.5s;
}

.achievement--emoji {
  font-size: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.achievement--content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 1rem;
  text-align: center;
  flex-grow: 1;
}

.achievement--close {
  cursor: pointer;
  font-size: larger;
  font-weight: bold;
}

.has-grow {
  flex-grow: 1;
}

.trophy {
  position: absolute;
  bottom: 0;
  left: 0;
  font-size: 3rem;
  background-color: var(--color-green);
  padding: 1rem;
  margin: 3rem;
  border: 1px solid var(--color-dark-green);
  border-radius: 99999px;
  height: 100px;
  width: 100px;
  text-align: center;
  cursor: pointer;
  transition: cubic-bezier(0.075, 0.82, 0.165, 1) 0.5s;

  &:hover {
    transform: scale(1.2);
  }
}

.achievementsList {
  z-index: 1;
  width: 60vh;
  height: 75vh;
  position: absolute;
  top: 15vh;
  margin: auto 0;
  background-color: var(--color-green);
  border: solid 1px var(--color-dark-green);
  box-shadow: 0 0 5px 5px rgba(95, 111, 82, 0.5);
  padding: 1rem;
  overflow-y: scroll;
  border-radius: 10px;
  animation: slide-achievementsList 0.5s;
}

.achievementsList::-webkit-scrollbar {
  width: 8px;
  background-color: var(--color-green);
}
.achievementsList::-webkit-scrollbar-thumb {
  background-color: var(--color-dark-green);
  border-radius: 9999px;
}

.achievementsList h1 {
  width: 100%;
  text-align: center;
  font-family: 'Pacifico', sans-serif;
  color: var(--color-beige);
  text-shadow: var(--color-dark-green) 0.1rem 0.1rem;
  font-size: 2.5rem;
  font-weight: 100;
  margin-bottom: 1rem;
}

.achievementsList p {
  width: 100%;
  text-align: center;
  color: var(--color-beige);
  font-weight: 100;
  background-color: var(--color-dark-green);
  padding: 1rem;
  border-radius: 10px;
  margin: 10px 0;
}

@keyframes pulse {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(170, 58, 58, 0.7);
  }

  70% {
    transform: scale(1);
    box-shadow: 0 0 0 25px rgba(170, 58, 58, 0);
  }

  100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(170, 58, 58, 0);
  }
}

.news-ticker {
  overflow: hidden;
  white-space: nowrap;
  background-color: var(--color-red);
  color: white;
  padding: 10px;
  width: 100%;
}

.ticker-text {
  display: flex;
  gap: 15px;
  position: relative;
  left: 100%;
  animation: slide-left 45s linear infinite;
}

.ticker-text a {
  color: gold;
}

/* Keyframes pour l'animation de défilement du texte */
@keyframes slide-left {
  from {
    left: 100%; /* Départ à droite */
  }
  to {
    left: -100%; /* Fin à gauche, ce qui dépend de la longueur du texte */
  }
}

@keyframes slide-achievementsList {
  from {
    top: -100vh; 
  }
  to {
    top: 15vh;
  }
}

@keyframes slide-achievement {
  from {
    bottom: -300px; 
  }
  to {
    bottom: 15px;
  }
}
